.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* ------------------- */

.Story {
  text-align: center;
}

.Story-logo {
  animation: Story-logo-spin infinite 20s linear;
  height: 80px;
}

.Story-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.Story-title {
  font-size: 1.5em;
  font-weight: bold;
}

.Story-by {
  float: left;
}

.Story-author {
  color: #ccc;
}

.Story-intro {
  font-size: large;
}

@keyframes Story-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

